.separation {
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: space-around;

    .user {
        background: #26292c;
        background: url(@/assets/Vector.png) no-repeat;
        background-size: 6%;
        border: 0.1em solid #ffffff;
        border-radius: 1em;
        height: 2vh;
        width: 100%;
        background-position: 95%;
        padding: 5%;
        outline: none;
        color: #ffffff;
    }

    .password {
        background: #26292c;
        background: url(@/assets/VectorPassword.png) no-repeat;
        background-size: 6%;
        border: 0.1em solid #ffffff;
        border-radius: 1em;
        height: 2vh;
        width: 100%;
        background-position: 95%;
        padding: 5%;
        outline: none;
        color: #ffffff;
    }
}

.fakeFotter {
    display: flex;
    width: 110%;
    margin-top: 30%;

    .btnLogin {
        background: linear-gradient(90deg, #ff2d04 0%, #c13216 100%);
        border-radius: 1em;
        border: none;
        height: 5vh;
        width: 100%;
        cursor: pointer;
    }
}

input::placeholder {
    color: #e0e0e0;
    font-size: 0.8em;
    opacity: 85%;
}

.btnLogin:hover {
    background: #ff2d04;
    opacity: 1;
}
