.Button:hover {
    cursor: pointer;
}

.ButtonForm {
    width: 100%;
    padding: 14px;
    box-sizing: border-box;
    background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
    border: 2px solid red;
    border-radius: 50px;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
    color: #fff;
    font-weight: 700;
    font-size: 1.125em;
}

.ButtonKeepBrowsing {
    width: 100%;
    height: 10vh;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-size: 0.8em;
    line-height: 18px;
    color: #C13216;
    border: none;
}

.ButtonLogout {
    width: 100%;
    height: 10vh;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    font-size: 0.8em;
    font-weight: 700;
    line-height: 18px;
    color: #fff;
    border: none;
}