#formLogin {
    height: 80vh;
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

    .invisible {
        display: none;
    }

    .registerComponent {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .center {
        display: none;
    }
}   


@media (max-width: 700px) {
    .invisible {
        display: block !important;
    }
}
    

