@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.clockHours {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #222222;
    font-size: 5em;
    line-height: 0.875;
    text-align: center;
}