.separation {
    display: grid;
    align-items: center;
    background: linear-gradient(90.16deg, #33383D 0%, #1C1D20 100%);
    grid-template-columns: 19.6% 27.6% 4.8% 7.5% 9% 9.5% 11% 11%;
    color: #fff;
    height: 10vh;
    width: 100%;
    #bar{
        display: flex;
        border-left: 1px solid #fff;
        height: 5.5vh;
        grid-column: 3;
        margin-left: 30px;
    }
    .counter{
        display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-align: right;
    font-size: 14px;
    grid-column: 4;
    height: 100%;
    }
    .textFirst{
        display: flex;
        grid-column: 2;
        text-align: end;
        margin-left: 10px;
        font-size: 11px;
        color: #fff;
        align-items: center;
    }
    
    .buttons{
        display: flex;
    }
}